<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" id="logo" href="#">Digg!</a>-->
      <%= link_to "Digg", root_path, class:"navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Articles", articles_path , style: 'color:#FFFFFF;', class: 'css_class'%></li>
        <li><a href="#" style="color:white">Blog</a></li>
        <li class="dropdown">
          <a href="#" style="color:white" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Post New Article", new_article_path %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Work in proggress!</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Please be patient!</a></li>
            <li><a href="#"><img id="logo-navbar-middle" src="https://scontent.fmnl5-1.fna.fbcdn.net/v/t1.0-9/16386939_1831072537159681_6070314710354291161_n.jpg?oh=3b29286a29dbc58495658d6677dba895&oe=590DA9D4" width="200" alt="Logo Thing main logo"></a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white"> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Signup</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Work in proggress!</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>